<launch>
  <arg name="model" default="$(find wheelchair_description)/urdf/wheelchair.urdf.xacro"/>
  <arg name="gui" default="true"/>
  <arg name="rviz" default="false"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
  <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" if="$(arg gui)" output="screen"/>
  <node pkg="rviz" type="rviz" name="rviz" if="$(arg rviz)" output="screen"/>
</launch>
