<launch>
  <!-- Disabled by default. Callers must explicitly bind the deployed map and policy. -->
  <arg name="enabled" default="false"/>
  <arg name="source" default="" doc="One of: base_model, amcl, cartographer_noetic"/>
  <arg name="map_id"/>
  <arg name="map_sha256"/>
  <arg name="policy_sha256"/>
  <arg name="status_max_age_s" default="0.25"/>
  <arg name="tf_future_tolerance_s" default="0.04"/>
  <arg name="base_model_pose_topic" default="/base_model/localization_pose"/>
  <arg name="amcl_pose_topic" default="/amcl_pose"/>
  <arg name="cartographer_pose_topic" default="/cartographer/tracked_pose"/>
  <arg name="base_model_diagnostic_topic" default="/base_model/localization_diagnostics"/>
  <arg name="amcl_diagnostic_topic" default="/amcl/localization_diagnostics"/>
  <arg name="cartographer_diagnostic_topic" default="/cartographer/localization_diagnostics"/>
  <arg name="base_model_enabled" default="false"/>
  <arg name="amcl_enabled" default="false"/>
  <arg name="cartographer_noetic_enabled" default="false"/>

  <node pkg="wheelchair_navigation" type="localization_adapter.py"
        name="localization_adapter" output="screen" required="true">
    <param name="enabled" value="$(arg enabled)"/>
    <param name="source" value="$(arg source)"/>
    <param name="map_id" value="$(arg map_id)"/>
    <param name="map_sha256" value="$(arg map_sha256)"/>
    <param name="policy_sha256" value="$(arg policy_sha256)"/>
    <param name="status_max_age_s" value="$(arg status_max_age_s)"/>
    <param name="tf_future_tolerance_s" value="$(arg tf_future_tolerance_s)"/>
    <rosparam param="map_to_odom_authorities">[/localization_adapter]</rosparam>
    <param name="sources/base_model/enabled" value="$(arg base_model_enabled)"/>
    <param name="sources/base_model/pose_topic" value="$(arg base_model_pose_topic)"/>
    <param name="sources/base_model/diagnostic_topic" value="$(arg base_model_diagnostic_topic)"/>
    <param name="sources/amcl/enabled" value="$(arg amcl_enabled)"/>
    <param name="sources/amcl/pose_topic" value="$(arg amcl_pose_topic)"/>
    <param name="sources/amcl/diagnostic_topic" value="$(arg amcl_diagnostic_topic)"/>
    <param name="sources/cartographer_noetic/enabled" value="$(arg cartographer_noetic_enabled)"/>
    <param name="sources/cartographer_noetic/pose_topic" value="$(arg cartographer_pose_topic)"/>
    <param name="sources/cartographer_noetic/diagnostic_topic" value="$(arg cartographer_diagnostic_topic)"/>
  </node>
</launch>
