<launch>
  <arg name="use_sim_time" default="true"/>
  <arg name="cmd_vel_nav_topic" default="/cmd_vel_nav"/>
  <arg name="map_frame" default="map"/>

  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <rosparam command="load" file="$(find wheelchair_navigation)/config/move_base.yaml"/>
  <rosparam command="load" file="$(find wheelchair_navigation)/config/recovery_behaviors.yaml"/>
  <rosparam command="load" file="$(find wheelchair_navigation)/config/costmap_common.yaml" ns="global_costmap"/>
  <rosparam command="load" file="$(find wheelchair_navigation)/config/costmap_common.yaml" ns="local_costmap"/>
  <rosparam command="load" file="$(find wheelchair_navigation)/config/global_costmap.yaml"/>
  <rosparam command="load" file="$(find wheelchair_navigation)/config/local_costmap.yaml"/>
  <rosparam command="load" file="$(find wheelchair_navigation)/config/dwa_local_planner.yaml"/>
  <rosparam command="load" file="$(find wheelchair_navigation)/config/geofence_sidewalk.yaml" ns="safety/geofence"/>

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <remap from="cmd_vel" to="$(arg cmd_vel_nav_topic)"/>
    <remap from="odom" to="/odom"/>
  </node>
</launch>
