<launch>
  <arg name="use_sim_time" default="true"/>
  <arg name="cmd_vel_nav_topic" default="/cmd_vel_nav"/>
  <arg name="map_yaml" default="$(find wheelchair_navigation)/../../data/hanyang_aegimun_loop/map.yaml"/>
  <arg name="map_frame" default="map"/>

  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <rosparam command="load" file="$(find wheelchair_navigation)/config/move_base.yaml" ns="move_base"/>
  <rosparam command="load" file="$(find wheelchair_navigation)/config/recovery_behaviors.yaml" ns="move_base"/>
  <rosparam command="load" file="$(find wheelchair_navigation)/config/costmap_common.yaml" ns="move_base/global_costmap"/>
  <rosparam command="load" file="$(find wheelchair_navigation)/config/costmap_common.yaml" ns="move_base/local_costmap"/>
  <rosparam command="load" file="$(find wheelchair_navigation)/config/global_costmap.yaml" ns="move_base"/>
  <rosparam command="load" file="$(find wheelchair_navigation)/config/local_costmap.yaml" ns="move_base"/>
  <rosparam command="load" file="$(find wheelchair_navigation)/config/dwa_local_planner.yaml" ns="move_base"/>
  <rosparam command="load" file="$(find wheelchair_navigation)/config/geofence_sidewalk.yaml" ns="safety/geofence"/>

  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_yaml)" output="screen" required="true"/>
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <remap from="cmd_vel" to="$(arg cmd_vel_nav_topic)"/>
    <remap from="odom" to="/odom"/>
  </node>
</launch>
