<launch>
  <arg name="config" default="$(find static_livox_localization)/config/moving_localization.yaml"/>
  <arg name="visualization" default="true"/>
  <arg name="rviz" default="false"/>
  <arg name="auto_init" default="false"/>
  <arg name="auto_init_map" default="/home/mprp3/wheelchair_localization_maps/livox_raw_20260707/livox_raw_20260707_0p20m_xyzi.pcd"/>
  <arg name="auto_init_traj" default="/home/mprp3/wheelchair_localization_maps/livox_raw_20260707/traj_lidar.txt"/>

  <node pkg="static_livox_localization"
        type="moving_icp_localizer"
        name="moving_icp_localizer"
        output="screen"
        required="true">
    <rosparam command="load" file="$(arg config)"/>
  </node>

  <group if="$(arg visualization)">
    <node pkg="static_livox_localization"
          type="bounded_cloud_preview_node"
          name="bounded_cloud_preview"
          output="screen">
      <rosparam command="load" file="$(arg config)"/>
    </node>

    <node pkg="static_livox_localization"
          type="map_preview_publisher"
          name="map_preview_publisher"
          output="screen">
      <rosparam command="load" file="$(arg config)"/>
    </node>
    <node pkg="static_livox_localization"
          type="reference_marker.py"
          name="reference_marker"
          output="screen"/>
    <node pkg="static_livox_localization"
          type="localization_state_marker.py"
          name="localization_state_marker"
          output="screen"/>
  </group>

  <node if="$(arg rviz)"
        pkg="rviz"
        type="rviz"
        name="moving_localization_rviz"
        args="-d $(find static_livox_localization)/config/moving_localization.rviz"
        output="screen"/>

  <node if="$(arg auto_init)"
        pkg="static_livox_localization"
        type="auto_initial_pose.py"
        name="auto_initial_pose"
        output="screen"
        args="--map $(arg auto_init_map) --traj $(arg auto_init_traj)"/>
</launch>

